*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #222;

}

.container{
    display: grid;
    grid-template-columns: repeat(4,150px);
    grid-gap: 10px;
    margin-top: 35px;
}

.container .card{
    position: relative;
    width: 150px;
    height: 150px;
    background: rgba(45, 45, 45, 1);
    overflow: hidden;   
    /* background: white; */
}

.container .card::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);  
    background: radial-gradient(var(--clr), transparent, transparent);
    opacity: 0;
    width: 300px;
    height: 300px;
    transition: 0.5s, top 0s,left 0s;
}

.container .card:hover::before{
    opacity: 1;
}

.container .card::after{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgba(45, 45, 45, 0.9);
}